	<ion-view view-title="Node" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-node" class=" page-node">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="card list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_nodes" placeholder="Search" aria-label="filter nodes" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list card animate-none">
				<a class="item item-icon-left"  ng-repeat="item in nodes | filter:filter_nodes as results" ng-init="$last ? fireEvent() : null" ng-href="#/drupal_web/node_singles/{{item.nid}}" >
					<i class="icon colorful ion-bowtie"></i>
					<span ng-bind-html="item.title | to_trusted"></span>
						<p >
						Type : <strong>{{item.type}}</strong>
						</p>
				</a>
			</div>
			<!-- ./code listing -->
			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
