<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar ng-show="$root.headerExists" id="navbar-right-top" class="page-title bar-dark">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabButtonUp"></ion-nav-view>
		<ion-nav-view animation="none" name="drupal_web-side_menus"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="text-center expanded dark-bg">
			<img ng-src="{{ appLogo | trustUrl }}" class="avatar motion spin fade" />
			<div class="menu-bottom"><span ng-bind-html="appName | strHTML"></span><br/></div>
		</ion-header-bar>
		<ion-content class="has-expanded-header light-bg positive-900">
			<ion-list class="list" >
				<ion-item class="item item-divider text-left" >
					Dashboard
				</ion-item>
				<ion-item  sound-touch="true"  class="menu-node item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="drupal_web.node">
					<i class="icon ion-android-favorite"></i> Node
				</ion-item>
				<ion-item class="item item-divider text-left" >
					Help
				</ion-item>
				<ion-item  sound-touch="true"  class="menu-faqs item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="drupal_web.faqs">
					<i class="icon ion-ios-help"></i> FAQs
				</ion-item>
				<ion-item  sound-touch="true"  class="menu-rate_this_app item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('market://details?id=com.imabuilder.ihsanaitsolution.drupalweb')">
					<i class="icon ion-android-playstore"></i> Rate This App
				</ion-item>
				<ion-item  sound-touch="true"  class="menu-about_us item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="drupal_web.about_us">
					<i class="icon ion-help-buoy"></i> About US
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
