	<ion-view view-title="Bookmarks of Node" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-node_bookmark" class="page-node_bookmark">
		


		<ion-list class="list" ng-if="node_bookmark.length != 0">
			<ion-item class="item item-icon-left" type="item-avatar" ng-repeat="item in node_bookmark" ng-href="#/drupal_web/node_singles/{{ item.nid }}">
				<i class="icon ion-ios-bookmarks-outline"></i>
				<h2 class="" ng-bind-html="item.title | to_trusted"></h2>
				<ion-option-button class="assertive-bg" ng-click="removeDbVirtualNode(item.nid)"><i class="icon ion-trash-a"></i></ion-option-button>
			</ion-item>					<ion-item class="item item-button">
						<button class="button button-small button-calm" ng-click="clearDbVirtualNode();"><i class="icon ion-ios-refresh-outline"></i> Clear</button>
					</ion-item>

		</ion-list>


		<!-- no product -->
		<div class="node_bookmark padding text-center" ng-if="node_bookmark.length == 0">
			<i class="icon ion-ios-bookmarks-outline"></i>
			<p>There are no items</p>
		</div>
		<!-- no product -->
		</ion-content>
		<!-- ./content -->
	</ion-view>
